<div class="p-3 border mr-3">
    <div class="row justify-content-center py-5">
        <div class="col-6">
            <div class="row">
                <h3 class="pb-3">Login</h3>
                <form class="w-100" #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type='text' name="userID" class="form-control" [(ngModel)]="loginModel.userID">
                    </div>
                    <div class="form-group">
                        <label>Password </label>
                        <input type="password" name="passWord" class="form-control" [(ngModel)]="loginModel.passWord">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary my-2 float-right">Login</button>
                    </div>
                </form>
            </div>
            <div class="row d-flex mt-5">
                <div class="pt-5 w-100">
                    <p>If you are a new user, please register by clicking on the Register button.</p>
                </div>
                <div class="w-100">
                    <button (click)="OnClickRegister()" class="btn btn-primary my-2 float-right">Register</button>
                </div>
            </div>
        </div>