<div class="p-3 mr-3">
    <div style="background-color: #343a40; color: white; border-radius: 15px;">
        <div class="row pb-4">
            <h2 class="pl-5 pt-5">Shopping Cart</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-9 pr-0">
                <div class="px-5">
                    <h3 class="pb-3">Order Summary</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item Description</th>
                                <th>Quantity</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let gift of gifts">
                                <td>{{gift.donationName}}</td>
                                <td>
                                    <div class="justify-content-between d-flex">
                                        <div>{{gift.quantity}}</div>
                                        <button type="button" class="close pull-right edit"
                                            (click)="openModal(template, gift)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </div>
                                </td>
                                <td *ngIf="!gift.monthly">One-time Payment</td>
                                <td *ngIf="gift.monthly">Recurring Monthly Payment</td>
                                <td>{{gift.price | currency}}</td>
                                <td>{{(gift.price * gift.quantity) | currency}}</td>
                                <td><button type="button" class="close edit" (click)="openModal2(del, gift)">
                                        <span>&times;</span>
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="my-3 p-4 mr-3 " style="background-color: #464B4F; border-radius: 10px;">
                    <div *ngIf="getItemCount() === 1" class="row d-flex justify-content-center">
                        1 item in cart
                    </div>
                    <div *ngIf="getItemCount() > 1" class="row d-flex justify-content-center">
                        {{getItemCount()}} items in cart
                    </div>
                    <div class="row d-flex justify-content-center pb-3">
                        <a class="close edit" style="text-decoration: underline; font-size:1.1rem;"
                            (click)="addDonation()">Continue
                            Shopping</a>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <h5>Grand Total - {{getTotal() | currency}}</h5>
                    </div>
                    <hr>
                    <div class="my-4 pt-5  row d-flex justify-content-center">
                        <!-- <div class="btn btn-secondary btn-orange m-1" (click)="cancel()">Back</div> -->
                        <div class="btn btn-secondary btn-orange m-1" (click)="purchase()">Purchase</div>
                    </div>
                </div>
            </div>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Quantity</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <input type="number" min="0" class="form-control w-25 mr-3" [(ngModel)]="this.gift.quantity"
                        name="Quantity">
                    <button type="button" class="btn btn-primary " (click)="updateQuantity()">Ok</button>
                </div>
            </ng-template>
            <ng-template #del>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Delete Donation Gift</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeDeleteDialog()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <label>Are you sure you want to delete?</label>
                </div>
                <div class="modal-footer d-flex">
                    <button class="btn btn-secondary" (click)="closeDeleteDialog()">Cancel</button>
                    <button class="btn btn-primary" (click)="deleteGift()">Ok</button>
                </div>
            </ng-template>
        </div>

    </div>
</div>