hr {
    border-top: 3px solid rgb(255 255 255 / 10%);
} 
.profile {
    border: 1px solid transparent;
    border-color: rgba(255,255,255,.2);
    border-radius: .25rem;
    padding: .375rem 1rem;
    
}
.header {
    background: #31373e;
    z-index: 1000;
    box-shadow: 1px 1px 10px 10px rgb(0 0 0 / 20%);
}
.nav-custom {
    cursor: pointer;
}