<div class="container-fluid min-vh-100 d-flex flex-column ">
  <div class="row d-flex justify-content-center header">
    <div class="m-4"><a class="nav-link" routerLink="/" routerLinkActive="active"><img src="assets/logo-sm.png"
          width="450px" /></a>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div *ngIf="auth.isUserLoggedIn() && auth.isUserAdmin()" class="col-2">
      <!-- <div class="col-2"> -->
      <div class="d-flex align-items-stretch">
        <nav class="navbar navbar-dark bg-dark p-3 ml-3 w-100">
          <div class="container-fluid">
            <ul class="navbar-nav d-flex flex-column">
              <p class="profile" style="color:white; margin-top: 1rem;"><i class="bi bi-person-fill"></i>
                {{auth.getUsername()}}</p>
              <li class="nav-item py-2">
                <a class="nav-link" routerLink="/user-management" routerLinkActive="active">User Management</a>
              </li>
              <li class="nav-item py-2">
                <a class="nav-link" routerLink="/donation-log" routerLinkActive="active">Donations Log</a>
              </li>
              <li class="nav-item py-2">
                <a class="nav-link" routerLink="/donation-type-management" routerLinkActive="active">Donation Groups</a>
              </li>
              <li class="nav-item py-2">
                <a class="nav-link" routerLink="/donation-start" routerLinkActive="active">User View</a>
              </li>
              <li class="nav-item py-2">
                <a class="nav-link nav-custom" (click)="OnLogout()" routerLinkActive="active">Log Out</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
         
      <div *ngIf="auth.isUserLoggedIn() && (auth.isUserAdmin() == false)" class="col-2">
        <div class="d-flex align-items-stretch">
          <nav class="navbar navbar-dark bg-dark p-3 ml-3 w-100">
            <div class="container-fluid">
              <ul class="navbar-nav d-flex flex-column">
                <p class="profile" style="color:white; margin-top: 1rem;"><i class="bi bi-person-fill"></i>
                  {{auth.getUsername()}}</p>                   
                  <li class="nav-item py-2">
                  <a class="nav-link nav-custom" (click)="OnLogout()" routerLinkActive="active">Log Out</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>