.card-header {
    height: 85px;
}
.card-deck {
    padding: 15px;
}
.btn-card {
    width: 90px;
}
.add-group a{
    font-size: 1.2rem;
    color: #007bff;
}
.add-group a:hover{
    color: #04478f;
}
.card {
    background-color: #464B4F;
}

