<div class="p-3 border mr-4">
    <h3 class="pb-3">Donations Log</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Donation Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rodger Moore</td>
                <td>11/20/2018</td>
                <td>$1000</td>
                <td>Mighty Warriors</td>
            </tr>
        </tbody>
    </table>
</div>