<div class="p-3 border mr-3">
    <div style="background-color: #343a40; color: white; border-radius: 15px;">
        <div class="row justify-content-center py-5">
            <div class="col-5">
                <h3 class="pl-5">PERSONAL INFORMATION</h3>
            </div>
            <div class="col-7 mt-5">
                <div class="mr-3">
                    <div class="mt-5 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"First Name" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"Last Name" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"Phone #" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"Email Address" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"Address" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"City" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"State" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"Country" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-3 row mr-3 d-flex flex-row-reverse">
                        <label class="mr-3 mt-2 order-2 ">{{"Zip" | uppercase}}</label>
                        <input type='text' class="form-control w-75 order-1">
                    </div>
                    <div class="mt-5 row mr-3 d-flex flex-row-reverse">
                        <div class="btn btn-secondary btn-orange">CONTINUE</div>
                        <div class="btn btn-secondary btn-orange mr-2">CANCEL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>